{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Tours</title>
</head>
<body>
    <h1>{{ tour_name }}</h1>
    {% block content %}
        <header>
            <nav class="navbar">
                <div class="nav-contents">
                    <div style="text-align: center;" class="site-logo">
                        <h1 class="venture-logo">VENTURE WORLD</h1>
                        <h6 class="venture-logo-desc">Tour, Trek, Picnic, Pilgrimage</h6>
                    </div>
                    <div class="site-navigations">
                        <ul class="ul">
                            <li class="ul-background">
                                <a class="nav-link darkblue-color" aria-current="page" href="{% url 'index' %}">Home</a>
                            </li>
                            <li class="ul-background">
                                <a class="nav-link darkblue-color" href="{% url 'tours' %}">Tours</a>
                            </li>
                            <li class="ul-background">
                                <a class="nav-link darkblue-color" href="{% url 'services' %}">Services</a>
                            </li>
                            <li class="ul-background">
                                <a class="nav-link darkblue-color" href="{% url 'contact-us' %}">Contact Us</a>
                            </li>
                            <li class="ul-background">
                                <a class="nav-link darkblue-color" href="{% url 'terms' %}">Terms</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="my-container">
            <center>
                <h1>Fabulous Himachal</h1>
            </center>
            <p class="font-weight">VENTURE WORLD’S packages: <span class="green-color"><span
                        style="text-decoration: underline;">PACKAGE 1 -</span> LUXURY TOUR</span><br>
                <span style="color: transparent;">VENTURE WORLD’S packages: </span><span class="brown-color"><span
                        style="text-decoration: underline;">PACKAGE 2 -</span> BUDGET TOUR</span>
            </p>
            <p class="blue-color font-weight">TOUR TYPE 1 COMFORT - We don’t run in the tour -We stroll in the tour </p>
            <p class="red-color font-weight">TOUR TYPE 2 COMPACT – Itinerary Carved Tour</p>
            <p class="font-weight">CLICK on the <span class="lightblue-color" style="text-decoration: underline;">Tour
                    number</span> of your choice for tour itinerary, tour cost, cost includes / not includes and for more
                information.</p>
            <hr>
            <table class="table grey-bg-table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Tour</th>
                        <th scope="col">Tour Type</th>
                        <th scope="col">Destination</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Starting</th>
                    </tr>
                </thead>
                <tbody class="font-weight-light">
                    {% for tour in tours %}
                    <tr class="blue-color">
                        <td width="13%">
                            <a class="aside-content new-content" href="#tour-{{tour.tour_number}}"><p>Tour {{tour.tour_number}}</p></a>
                        </td>
                        <td>COMFORT</td>
                        <td>
                            {{tour.comfort_name}}
                        </td>
                        <td>
                            <p>{{tour.comfort_duration}}</p>
                        </td>
                        <td>{{tour.comfort_rate}}</td>
                    </tr>
                    <tr class="red-color">
                        <td>
        
                        </td>
                        <td>COMPACT</td>
                        <td>
                            {{tour.compact_name}}
                        </td>
                        <td>
                            {{tour.compact_duration}}
                        </td>
                        <td>{{tour.compact_rate}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% for tour in tours %}
            <section id="tour-{{tour.tour_number}}">
                <h4 class="font-weight"><span class="lightblue-color"> Fabulous Himachal </span>- Tour {{tour.tour_number}}</h4>
                <table class="table table-striped grey-bg-table">
                    <thead>
                        <tr>
                            <th scope="col">Package</th>
                            <th scope="col">Destination</th>
                            <th scope="col">Duration</th>
                        </tr>
                    </thead>
                    <tbody class="font-weight-light">
                        <tr class="blue-color">
                            <td>COMFORT</td>
                            <td>
                                {{tour.comfort_name}}
                            </td>
                            {% if tour.tour_number != 10 %}
                                <td>
                                    {{tour.comfort_duration}} <br>
                                </td>
                            {% else %}
                                <td>
                                    {{tour.comfort_duration}} <br>
                                    <span style="text-decoration: underline; text-align: center; padding: 0 auto; color: black;">Operational only from
                                    mid-April to October</span>
                                </td>    
                            {% endif %}
                        </tr>
                        <tr class="red-color">
                            <td>COMPACT</td>
                            <td>
                                {{tour.compact_name}}
                            </td>
                            <td>
                                {{tour.compact_duration}} <br>
                                {% if tour.tour_number == 10 %}
                                <span style="text-decoration: underline; text-align: center; padding: 0 auto; color: black;">Operational only from
                                    mid-April to October</span>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <center>
                    <p class="font-weight"><span style="text-decoration: underline;"> TOUR ITINERARY </span>– (The itinerary is
                        flexible and subject to changes).</p>
                </center>
            
                <!-- Itinerary Table -->
                <table class="table table-striped table-bordered border-secondary">
                    <tr>
                        <td width="06%">
                            Day 1
                        </td>
                        <td>
                            {{tour.itinerary_day_1}}
                        </td>
                    </tr>
                    <tr>
                        <td width="06%">
                            Day 2
                        </td>
                        <td>
                            {{tour.itinerary_day_2}}
                        </td>
                    </tr>
                    <tr>
                        <td width="06%">
                            Day 3
                        </td>
                        <td>
                            {{tour.itinerary_day_3}}
                        </td>
                    </tr>
                    <tr>
                        <td width="06%">
                            Day 4
                        </td>
                        <td>
                            {{tour.itinerary_day_4}}
                        </td>
                    </tr>
                    <tr>
                        <td width="06%">
                            Day 5
                        </td>
                        <td>
                            {{tour.itinerary_day_5}}
                        </td>
                    </tr>
                    {% if tour.itinerary_day_6 != "False" %}
                    <tr>
                        <td width="06%">
                            Day 6
                        </td>
                        <td>
                            Morning after breakfast tea / coffee hotel check out and depart to Chandigarh airport. (Flight details
                            will be provided
                            post booking) Tour ends. – Carry the moment of joy and thrill throughout your lifetime.
                        </td>
                    </tr>
                    {% endif %}
                    {% if tour.itinerary_day_6 != "False" %}
                        <tr>
                            <td width="06%">
                                Day 6
                            </td>
                            <td>
                                Morning after breakfast tea / coffee hotel check out and depart to Chandigarh airport. (Flight details
                                will be provided
                                post booking) Tour ends. – Carry the moment of joy and thrill throughout your lifetime.
                            </td>
                        </tr>
                    {% endif %}
                    {% if tour.itinerary_day_7 != "False" %}
                        <tr>
                            <td width="06%">
                                Day 7
                            </td>
                            <td>
                                {{tour.itinerary_day_7}}
                            </td>
                        </tr>
                    {% endif %}
                    {% if tour.itinerary_day_8 != "False" %}
                        <tr>
                            <td width="06%">
                                Day 8
                            </td>
                            <td>
                                {{tour.itinerary_day_8}}
                            </td>
                        </tr>
                    {% endif %}
                    {% if tour.itinerary_day_9 != "False" %}
                        <tr>
                            <td width="06%">
                                Day 9
                            </td>
                            <td>
                                {{tour.itinerary_day_9}}
                            </td>
                        </tr>
                    {% endif %}
                    {% if tour.itinerary_day_10 != "False" %}
                        <tr>
                            <td width="06%">
                                Day 10
                            </td>
                            <td>
                                {{tour.itinerary_day_10}}
                            </td>
                        </tr>
                    {% endif %}
                    {% if tour.itinerary_day_11 != "False" %}
                        <tr>
                            <td width="06%">
                                Day 11
                            </td>
                            <td>
                                {{tour.itinerary_day_11}}
                            </td>
                        </tr>
                    {% endif %}
                    {% if tour.itinerary_day_12 != "False" %}
                        <tr>
                            <td width="06%">
                                Day 12
                            </td>
                            <td>
                                {{tour.itinerary_day_12}}
                            </td>
                        </tr>
                    {% endif %}
                    {% if tour.itinerary_day_13 != "False" %}
                        <tr>
                            <td width="06%">
                                Day 13
                            </td>
                            <td>
                                {{tour.itinerary_day_13}}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        {% if tour.name == "Himachal" %}
                        <td colspan="2">
                            Note: 1) Venture world arranges sightseeing for guest on the Rohtang road where ever permitted and not
                            on Rohtang pass.
                            Rohtang pass can be visited from May to October with permits. However, the availability of permit is
                            limited. Interested
                            guests
                            should make their own arrangements to get permits.
                            2) In Himachal, there may be road blockages due to weather conditions and traffic jam. This can cause
                            delay in reaching
                            a place of
                            visit or even avoiding a spot in extreme conditions.
                            3) Snow falls in Himachal between late Dec and mid-April. However, Himachal may receive heavy or less
                            snowfall.
                            4) In the snow points the locals rent winter jackets, shoes, gloves, and other gears / gadgets used for
                            snow and extreme
                            cold
                            conditions. These are optional articles guests can avail those facilities at their own expense.
                        </td>
                        {% else %}
                        <td colspan="2">
                            Note: 1) Some of the sightseeing places may be closed on specific days. <br> 2) There may be road blockages due to traffic
                            jam, bad
                            weather, demonstrations etc. which can cause delay in reaching a place of visit. In both the above cases we may opt for
                            other
                            sightseeing places or we may even avoid any spot in extreme conditions.
                        </td>

                        {% endif %}
                    </tr>
                </table>
                <br>
            
                <!-- Includes table -->
                <table class="table table-striped table-bordered border-secondary">
                    <th>
                        <center>TOUR COST INCLUDE</center>
                    </th>
                    <tbody>
                        <tr>
                            <td>
                                <h6 class="font-weight">ACCOMODATION: </h6>In Deluxe Hotels/ Resorts (single/ two/ triple/ four
                                sharing) <br>
                                <span class="font-weight">Note:</span> Normally in Indian Hotels the Check-in time is around 01:00
                                pm. and check-out time is around 10:00 am.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h6 class="font-weight">TRASPORTATION:</h6> 2 Way <span class="font-weight">Flight</span> (including
                                taxes and baggage allowance as per the airline policy) <br>
                                <span class="font-weight">For couple / family:</span> Car – A/c<br>
                                <span class="font-weight">For group and scheduled tour:</span> Ac - luxury Bus, Tempo Traveller, Car
                                (According to group size) <br>
                                <span class="font-weight">Note:</span> A/c in car and bus may not operate in hilly areas.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h6 class="font-weight">SERVICES:</h6>Tour Assistant / Guide (excluding air / rail travel)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h6 class="font-weight">FEES:</h6>Entry fees for places of visit mentioned in the itinerary, tolls
                                and state border Permits.
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
            
                <!-- Rates table 1 -->
                <table class="table table-striped table-bordered border-secondary">
                    <tr>
                        <td colspan="2">
                            <p class="font-weight">Regular tour for couple / family / Group is arranged on any date throughout the
                                year according to the time availability
                                and convenience of the guests.</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p class="font-weight">Scheduled Tour is organised on specific dates.</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <center>
                                <p class="font-weight">TOUR COST per person on twin sharing basis, except vacations and long
                                    holidays.</p>
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:0%;">
                            <p class="font-weight"><span class="blue-color">REGULAR TOUR for</span><span class="red-color">
                                    Group</span><span class="blue-color"> 7 person and above</span>
                                Travel by Tempo Traveller / Bus</p>
                            <p>Travel by Tempo / Traveller Buses</p>
                        </td>
                        <td width="40%" style="padding:0%;">
                            <table style="margin-bottom: 0%;" class="table table-bordered">
                                <tr>
                                    <td colspan="2">
                                        <center>TOUR TYPE</center>
                                    </td>
                                </tr>
                                <tr style="margin-bottom: 0%;">
                                    <td>
                                        <center><span class="darkblue-color font-weight">COMFORT</span></center>
                                    </td>
                                    <td>
                                        <center><span class="red-color font-weight">COMPACT</span></center>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="green-color font-weight">LUXURY TOUR</span> Inclusive of all mentioned above in tour cost
                            includes.
                        </td>
                        <td style="padding: 0%;">
                            <table style="margin-bottom: 0%;" class="table table-bordered">
                                <tr>
                                    <td>{{tour.regular_grp_comfort_rate_1}} + GST 5%</td>
                                    <td>{{tour.regular_grp_compact_rate_1}} + GST 5%</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="green-color font-weight">LUXURY TOUR</span> Excluding Air Fare.
                        </td>
                        <td style="padding: 0%;">
                            <table style="margin-bottom: 0%;" class="table table-bordered">
                                <tr>
                                    <td>{{tour.regular_grp_comfort_rate_2}} + GST 5%</td>
                                    <td>{{tour.regular_grp_compact_rate_2}} + GST 5%</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    {% if tour.regular_grp_comfort_rate_3 != "False" %}
                    <tr>
                        <td>
                            <span class="brown-color font-weight">BUDGET TOUR </span>Accommodation Standard / Home Stay, Food all
                            meals fixed
                            menu, inclusive of transport, services and fees mentioned above
                        </td>
                        <td style="padding: 0%;">
                            <table style="margin-bottom: 0%;" class="table table-bordered">
                                <tr>
                                    <td>{{tour.regular_grp_comfort_rate_3}} + GST 5%</td>
                                    <td>{{tour.regular_grp_compact_rate_3}} + GST 5%</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    {% endif %}
                    {% if tour.regular_grp_comfort_rate_4 != "False" %}
                    <tr>
                        <td>
                            <span class="brown-color font-weight">BUDGET TOUR </span>Excluding Air Fare.
                        </td>
                        <td style="padding: 0%;">
                            <table style="margin-bottom: 0%;" class="table table-bordered">
                                <tr>
                                    <td>{{tour.regular_grp_comfort_rate_4}} + GST 5%</td>
                                    <td>{{tour.regular_grp_compact_rate_4}} + GST 5%</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    {% endif %}
                </table>
            
                <!-- Rates Table 2 -->
                <table class="table table-striped table-bordered border-secondary">
                    <tr>
                        <td style="padding:0%;">
                            <p class="font-weight"><span class="purple-color">REGULAR TOUR for couple / family <br> Exclusively
                                    travel by car</span></p>
                        </td>
                        <td width="40%" style="padding:0%;">
                            <table style="margin-bottom: 0%;" class="table table-bordered">
                                <tr>
                                    <td colspan="2">
                                        <center>TOUR TYPE</center>
                                    </td>
                                </tr>
                                <tr style="margin-bottom: 0%;">
                                    <td>
                                        <center><span class="darkblue-color font-weight">COMFORT</span></center>
                                    </td>
                                    <td>
                                        <center><span class="red-color font-weight">COMPACT</span></center>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="green-color font-weight">LUXURY TOUR</span> Inclusive of all mentioned above in tour cost
                            includes.
                        </td>
                        <td style="padding: 0%;">
                            <table style="margin-bottom: 0%;" class="table table-bordered">
                                <tr>
                                    <td>{{tour.regular_couple_comfort_rate_1}} + GST 5%</td>
                                    <td>{{tour.regular_couple_compact_rate_1}} + GST 5%</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="green-color font-weight">LUXURY TOUR</span> Excluding Air Fare.
                        </td>
                        <td style="padding: 0%;">
                            <table style="margin-bottom: 0%;" class="table table-bordered">
                                <tr>
                                    <td>{{tour.regular_couple_comfort_rate_2}} + GST 5%</td>
                                    <td>{{tour.regular_couple_compact_rate_2}} + GST 5%</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    {% if tour.regular_couple_comfort_rate_3 != "False" %}
                    <tr>
                        <td>
                            <span class="brown-color font-weight">BUDGET TOUR </span>Accommodation Standard / Home Stay, Food all
                            meals fixed
                            menu, inclusive of transport, services and fees mentioned above
                        </td>
                        <td style="padding: 0%;">
                            <table style="margin-bottom: 0%;" class="table table-bordered">
                                <tr>
                                    <td>{{tour.regular_couple_comfort_rate_3}} + GST 5%</td>
                                    <td>{{tour.regular_couple_compact_rate_3}} + GST 5%</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    {% endif %}
                    {% if tour.regular_couple_comfort_rate_4 != "False" %}
                    <tr>
                        <td>
                            <span class="brown-color font-weight">BUDGET TOUR </span>Excluding Air Fare.
                        </td>
                        <td style="padding: 0%;">
                            <table style="margin-bottom: 0%;" class="table table-bordered">
                                <tr>
                                    <td>{{tour.regular_couple_comfort_rate_4}} + GST 5%</td>
                                    <td>{{tour.regular_couple_compact_rate_4}} + GST 5%</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    {% endif %}
                </table>
            
                <!-- Scheduled Table -->
                <table class="table table-striped table-bordered border-secondary">
                    <tr>
                        <td width="75%">
                            <span class="red-color font-weight">Scheduled Tour</span> Travel by Tempo Traveller / Bus<br>
                            Departure Dates: ----------------------------------------------------- dates will be notified
                        </td>
                        <td width="25%">
                            <p class="font-weight">PACKAGE <span class="green-color">LUXURY</span> <br>
                                TYPE <span class="darkblue-color">COMFORT</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="75%">
                            <p>Inclusive of all mentioned above in tour cost includes.</p>
                        </td>
                        <td width="25%">
                            {{tour.scheduled_rate_1}} + GST 5%
                        </td>
                    </tr>
                    <tr>
                        <td width="75%">
                            <p>Excluding Air Fare.</p>
                        </td>
                        <td width="25%">
                            {{tour.scheduled_rate_2}} + GST 5%tour.
                        </td>
                    </tr>
                </table>
            
                <!-- Childs table -->
                <table class="table table-striped table-bordered border-secondary">
                    <tr>
                        <td width="33%" class="font-weight">Child below 2yrs. – 70% discount</td>
                        <td width="33%" class="font-weight">Child between 2 - 4yrs. - 50% discount</td>
                        <td class="font-weight">Child between 5 - 11yrs. - 30% discount</td>
                    </tr>
                    <tr>
                        <td colspan="3" width="50%" class="font-weight" style="padding: 0%;">
                            <table class="table table-bordered border-secondary" style="margin-bottom: 0%;">
                                <tr>
                                    <td>20% discount for third person sharing same room</td>
                                    <td>Single occupancy – 50% additional charges on per person cost.</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="font-weight">
                            Guests booking their own air tickets and guests travelling by railway or other mode of transport. <br>
                            <p style="display: flex; justify-content: space-between;">
                                <span>FREE – for Child below 2yrs.</span>
                                <span> Child between 2 - 4yrs. - 60%</span>
                                <span> discount Child between 5 - 11yrs. - 30% discount</span>
                            </p>
                        </td>
                    </tr>
                </table>
                <br>
                <p class="font-weight">Note:</p>
                <table class="table table-bordered table-striped border-secondary">
                    <tr>
                        {% if tour.name == "Himachal" %}
                        <td>The above packages pick up and drop is from Chandigarh. However, if any participant wants to join the
                            tour from Delhi,
                            contact
                            Venture World for the details of Duration and tour cost.</td>
                        {% else %}
                            <td>The above packages pick up and drop is from Bengaluru.</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>The rates including air fare mentioned above are from ex Mumbai. For Guests travelling from airports
                            other than Mumbai
                            the tour
                            cost may differ, contact Venture World for the details of cost.</td>
                    </tr>
                    <tr>
                        <td>For regular tour Airport / Railway station / Bus stand will be Pickup point before the tour and Drop
                            point after the
                            tour
                            ends.</td>
                    </tr>
                    <tr>
                        <td>For Scheduled Departures Airport will be Pickup point before the tour and Drop point after the tour
                            ends. However,
                            arrangements will be made for any individual or group arriving and departing from railway or other mode
                            of transport.</td>
                    </tr>
                    <tr>
                        <td>Venture World books air ticket but does not book rail tickets.</td>
                    </tr>
                    <tr>
                        <td class="font-weight" style="display: grid; grid-template-columns: max-content auto;"> 
                            <span> ACCOMODATION : </span>
                            <span> {{tour.accommodation_1}} <br>
                            {{tour.accommodation_2}}
                            {% if tour.accommodation_3 != "False" %}
                                <br> {{tour.accommodation_3}}
                            {% endif %}
                            {% if tour.accommodation_4 != "False" %}
                                <br> {{tour.accommodation_4}}
                            {% endif %}
                            {% if tour.accommodation_5 != "False" %}
                                <br> {{tour.accommodation_5}}
                            {% endif %}
                            {% if tour.accommodation_6 != "False" %}
                                <br> {{tour.accommodation_6}}
                            {% endif %}</span>
                        </td>
                    </tr>
                </table>
                <p>Tour cost for NRI’s or foreign nationals varies, for more details kindly contact Venture World</p>
                <!-- Tour cost does not include table -->
                <h6 class="font-weight" style="text-decoration: underline;">TOUR COST DOES NOT INCLUDE</h6>
                <table class="table table-striped table-bordered border-secondary">
                    <tr>
                        <td>
                            * Personal expense like Camera fees where ever charged in places of visit, laundry, telephone calls,
                            room service bills,
                            porterage, shopping, alcoholic beverages, extra packed water bottle/ food/ beverages which is not a part
                            of tour meal
                            menu.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            *Government Tax (GST) of 5%.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            *Any new taxes levied by the central or state government.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            *Any increase in Transport fares, fuel cost, taxes, etc. before or after the departure of the tour will
                            have to be borne
                            by the
                            participants.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            *Expense incurred for increase in the duration of the tour, change in airline schedule, route
                            alteration, changing the
                            tour
                            date, change in hotel etc. due to circumstances beyond the control of the tour operator. Instances of
                            this type would
                            include but
                            not be limited to the following- (delays in transit, missed connections, bad weather, natural
                            calamities, road blocks,
                            civil
                            disturbances, strikes, agitations, bandhs, war, quarantine, etc.)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            *Expense incurred for increase in the duration of the tour, change in airline schedule, route
                            alteration, changing the
                            tour
                            date, change in hotel etc. due to circumstances beyond the control of the tour operator. Instances of
                            this type would
                            include but
                            not be limited to the following- (delays in transit, missed connections, bad weather, natural
                            calamities, road blocks,
                            civil
                            disturbances, strikes, agitations, bandhs, war, quarantine, etc.)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            *Any damage to private or public property by the participants will have to be reimbursed by the
                            responsible person or
                            group.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            *Cost of Pre/Post tour hotel accommodation
                        </td>
                    </tr>
                    <tr>
                        <td>
                            *Any upgradation in airline class, vehicle, hotel or hotel room category.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            *Insurance of any type.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            *Cost of any outfits / gears / activity / sightseeing / service not mentioned in the itinerary.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            *Any extra cost incurred due to illness, accident, hospitalization or any personal emergency.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            *Any other expenses not within the preview of “tour cost includes”.
                        </td>
                    </tr>
                </table>
                <br>
                <p><span style="text-decoration: underline;" class="font-weight">Baggage Allowance: </span>Participants are
                    requested to abide by the airline policy for the weight and size of Checked-in
                    baggage and
                    cabin hand baggage per person.</p>
                <br>
                <p><span class="font-weight" style="text-decoration: underline;">Cancellation:</span> - (refund on full amount)</p>
                <table class="table table-striped table-bordered border-secondary">
                    <tr>
                        <td width="55%">121 days and above prior to the tour</td>
                        <td>90%. refund</td>
                    </tr>
                    <tr>
                        <td width="55%">120 – 91 days prior to the tour </td>
                        <td>80%. refund</td>
                    </tr>
                    <tr>
                        <td width="55%">90 – 61 days prior to the tour</td>
                        <td>70%. refund</td>
                    </tr>
                    <tr>
                        <td width="55%">60 – 46 days prior to the tour</td>
                        <td>60%. refund</td>
                    </tr>
                    <tr>
                        <td width="55%">45 – 31 days prior to the tour</td>
                        <td>40%. refund</td>
                    </tr>
                    <tr>
                        <td width="55%">30 - 16 days prior to the tour amount refunded</td>
                        <td>30%. refund</td>
                    </tr>
                    <tr>
                        <td width="55%">15 to 08 days prior to the tour amount refunded</td>
                        <td>20%. refund</td>
                    </tr>
                    <tr>
                        <td width="55%">No amount will be refunded if cancelled prior to 7 days of the journey.</td>
                        <td>------------------</td>
                    </tr>
                </table>
                <!-- Necessary documents -->
                <p class="font-weight">Necessary Documents Required</p>
                <p>
                    1. Aadhar Card / Voters ID / Passport / Driving Licence <br>
                    2. ID card is mandatory at time of booking, kindly carry the same ID card on tour. <br>
                    3. For NRI and Foreign National Guests along with Passport, Valid Indian Visa / OCI Card / PIO Card is
                    mandatory. <br>
                    4. Carry one passport size photo. <br>
                    5. NRIs and Foreign nationals are requested to provide proper identity documents during booking. <br>
                    6. Covid double dose vaccination certificate. COVID -19 protocols - please check state guidelines for RT-PCR
                    before the
            
                    journey. <br>
                    Mode of Payment
                    Cheque / Demand Draft / NEFT / RTGS / IMPS / UPI. <br>
                    Cheque / Demand draft should be in favour of "VENTURE WORLD"</p>
            </section>
            {% endfor %}
        </div>
    {% endblock content %}
</body>
</html>