{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Venture World</title>
  </head>
  <body>
    {% block content %}
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Venture World</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'tours' %}">Tours</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'services' %}">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact-us' %}">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'terms' %}">Terms</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <h2 class="heading-venture">Welcome to Venture World</h2>
      <hr>
      <p class="venture-description">Welcome to the Venture World to enjoy great getaways. Whilst assuring you the lifetime holiday experience & take you
        to
        places dreams are made of. We aim to provide you a complete holiday package.
      
        Discover nature’s hidden treasure with venture world in the high picturesque and majestic mountains, the snow covered
        glaciers, the golden deserts and the awe inspiring sand dunes, get a closer look at the flora and fauna in their
        natural
        environment and enjoy natures bounty. Relax and enjoy the water sports at the sun kissed beaches. Widen your horizons
        by
        visiting historical monuments and places and rediscover the varied rich culture, tradition, eternal costumes and
        vibrant
        colors spread all over the world.</p>

        <center><h5 class="venture-slogan">VENTURE WORLDS GLORIOUS 25 YEARS OF TOURING EXPERINCE</h5></center>

        <div id="slideshow-example" data-component="slideshow">
          <div role="list">
            {% for img in banner_images %}
            <div class="slide banner-img">
              <img class="ban-img" src="{{ img.image.url }}" alt="err">
            </div>
            {% endfor %}
          </div>
        </div>

        <!-- imp packages -->
        <div class="imp-pack-top">
          <div class="couple-box">
            <p class="box-heading">Couple</p>
            <hr>
            {% for package in all_packages %}
              {% if package.important %}
                {% if 'oney' in package.package_type.package_type or 'ouple' in package.package_type.package_type %}
                  <a class="aside-content" href="{% url 'tour_details' package.package_type %}"><span>{{package.package_name}}</span></a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="family-tours-box">
            <p class="box-heading">Family Tours</p>
            <hr>
            {% for package in all_packages %}
              {% if package.important %}
                {% if 'amily' in package.package_type.package_type %}
                <a class="aside-content" href="{% url 'tour_details' package.package_type %}"><span>{{package.package_name}}</span></a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="educational-tours-box">
            <p class="box-heading">Group Tours</p>
            <hr>
            {% for package in group_sub_packages %}
              <a class="aside-content" href="{% url 'tour_details' 'Group Tour' %}#{{ package.group_sub_package }}"><span class="aside-content margin-right">{{ package.group_sub_package }}</span></a><br>
            {% endfor %}
          </div>
        </div>
        <div class="my-tables">
          <div class="imp-packs">
            {% for pack_type in imp_pack_types %}
              <h3 class="imp-heading">{{ pack_type }}</h3>
              <hr>
              <table class="table table-striped table-dark table-responsive">
                <thead>
                  <tr>
                    <th scope="col">Destination</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Rate Per Person</th>
                    <th scope="col">Details</th>
                  </tr>
                </thead>
                <tbody>
                  {% for imp_pack in imp_packages %}
                  {% if imp_pack.important_package_type == pack_type %}
                  <tr>
                    <td>{{ imp_pack.destination_1 }} ({{ imp_pack.destination_1_nights }}N) <br>
                      {% if imp_pack.destination_2 != 'False' %}
                      {{ imp_pack.destination_2 }} ({{ imp_pack.destination_2_nights }}N)<br>
                      {% endif %}
                      {% if imp_pack.destination_3 != 'False' %}
                      {{ imp_pack.destination_3 }} ({{ imp_pack.destination_3_nights }})
                      {% endif %}
                    </td>
                    <td>{{ imp_pack.days }} - Days <br>
                      {{ imp_pack.nights }} - Nights
                    </td>
                    <td>Starts From - ₹{{ imp_pack.starts_from }}</td>
                    <td><a href="{% url 'package_detail' imp_pack.package_type imp_pack.package_name imp_pack.id %}">Click for more
                        details</a></td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            {% endfor %}
            
          </div>
          <div class="aside-tables">
            <div class="educational-tours">
              <a class="aside-heading" href="{% url 'educational_tours' %}"><h3 class="aside-content-heading">Educational Tours</h3></a>
              <hr class="box-hr">
              <p>
                {% for tour in educational_tours %}
                {% if tour.important %}
                <span><a class="aside-content" href="{% url 'educational_tours' %}#{{ tour.destination }}">{{ tour.destination }}</a></span>
                {% endif %}
                {% endfor %}
              </p>
            </div>
            <div class="adventure-tours">
              <a class="aside-heading" href="{% url 'tour_details' 'Adventure Tour' %}"><h3 class="aside-content-heading">Adventure Tours</h3></a>
              <hr>
              <p>
                {% for tour in adventure_tours %}
                {% if tour.important %}
                <span><a class="aside-content" href="{% url 'package_detail' tour.package_type tour.package_name tour.id %}">{{ tour.package_name }}</a></span>
                {% endif %}
                {% endfor %}
              </p>
            </div>
            <div class="pilgrimage">
              <a class="aside-heading" href="{% url 'tour_details' 'Pilgrimage' %}"><h3 class="aside-content-heading">Pilgrimage</h3></a>
              <hr class="box-hr">
              <p>
                {% for tour in pilgrimages %}
                {% if tour.important %}
                <span><a class="aside-content" href="{% url 'package_detail' tour.package_type tour.package_name tour.id %}">{{ tour.package_name }}</a></span>
                {% endif %}
                {% endfor %}
              </p>

            </div>
          </div>
        </div>
        <!-- end of imp packs -->
        <hr>
        {% for type in pack_types %}
        <div class="venture-info">
          <div class="tour-img">
            <img class="tour-img-bordered" src="{{ type.image.url }}" alt="err">
          </div>
          <div class="tour-info">
            <h3>{{ type.package_type }}</h3>
            <hr>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus officia exercitationem quisquam natus ipsum autem, et maxime nam est nesciunt necessitatibus aut quam id omnis molestiae suscipit vel illum labore.</p>
            {% for package in all_packages %}
            {% if package.package_type == type %}
            <span class="match-width package-name" id="package-id">{{ package.package_name }}</span>
            {% endif %}
            {% endfor %}
            <br>
            {% if 'ducational' in type.package_type %}
            <button class="btn btn-info"><a href="{% url 'educational_tours' %}">Click to know more</a></button>
            {% else %}
            <button class="btn btn-info"><a href="{% url 'tour_details' type.package_type %}">Click to know more</a></button>
            {% endif %}
          </div>
        </div>
        {% endfor pack_types %} 
      </div>
    </div>
    <footer>
      <div class="footer-details">
        <div class="copyright">
          <span>Copyright 2012 | Venture World Tours & Travels.</span>
        </div>
        <div class="dev-details">
          <span class="dev">Developed by - Mayuresh Ovhal</span><br>
          <span class="dev">mayureshovhal16@gmail.com</span>
        </div>
      </div>
    </footer>
    {% endblock %}
  </body>
  <script></script>
</html>
