{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Venture World</title>
  </head>
  <body>
    {% block content %}
    <header>
      <nav class="navbar">
        <div class="nav-contents">
          <div style="text-align: center;" class="site-logo">
            <h1 class="venture-logo">VENTURE WORLD</h1>
            <h6 class="venture-logo-desc">Tour, Trek, Picnic, Pilgrimage</h6>
          </div>
          <div class="site-navigations">
            <ul class="ul">
              <li class="ul-background">
                <a class="nav-link darkblue-color" aria-current="page" href="{% url 'index' %}">Home</a>
              </li>
              <li class="ul-background">
                <a class="nav-link darkblue-color" href="{% url 'tours' %}">Tours</a>
              </li>
              <li class="ul-background">
                <a class="nav-link darkblue-color" href="{% url 'services' %}">Services</a>
              </li>
              <li class="ul-background">
                <a class="nav-link darkblue-color" href="{% url 'contact-us' %}">Contact Us</a>
              </li>
              <li class="ul-background">
                <a class="nav-link darkblue-color" href="{% url 'terms' %}">Terms</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="my-container">
        <center><h5 class="venture-slogan">VENTURE WORLDS GLORIOUS 25 YEARS OF TOURING EXPERINCE</h5></center>

        <div id="slideshow-example" data-component="slideshow">
          <div role="list">
            {% for img in banner_images %}
            <div class="slide banner-img">
              <img class="ban-img" src="{{ img.image.url }}" alt="err">
            </div>
            {% endfor %}
          </div>
        </div>
        
        <!-- imp packages -->
        <div class="imp-pack-top">
          <div class="left-boxes">
            <a class="tour-links" href="#tours-tables"><div class="box box-bg-yellow">
              <p class="box-heading">Couple</p>
            </div></a>
            <a class="tour-links" href="#tours-tables"><div class="box box-bg-pink">
              <p class="box-heading">HoneyMoon Special</p>
            </div></a>
            <a class="tour-links" href="#tours-tables"><div class="box box-bg-green">
              <p class="box-heading">Family</p>
            </div></a>
          </div>
          <!-- <center><a class="aside-content" href="{% url 'tour_details' 'Honeymoon' %}"><span>HoneyMoon special</span></a></center> -->
          <!-- {% for package in imp_pack_types %}
              <a class="aside-content" href="#{{package}}"><span>{{package.important_package}}</span></a><br>
          {% endfor %} -->
          <div class="right-box">
            <table class="table table-bordered group-table border-secondary">
              <th colspan="2">
                <center class="darkblue-color font-weight"><a href="#tours-tables" class="darkblue-color tour-links">GROUP</a></center>
              </th>
              <tr>
                <td><p class="box-heading"><a href="#tours-tables" class="tour-links maroon-color">STUDENTS</a></p></td>
                <td><p class="box-heading"><a href="#tours-tables" class="tour-links maroon-color">CORPORATE</a></p></td>
              </tr>
              <tr>
                <td><p class="box-heading"><a href="#tours-tables" class="tour-links maroon-color">SOCIETIES</a></p></td>
                <td><p class="box-heading"><a href="#tours-tables" class="tour-links maroon-color">LADIES EXCLUSIVE</a></p></td>
              </tr>
              <tr>
                <td><p class="box-heading"><a href="#tours-tables" class="tour-links maroon-color">SENIOR CITIZENS</a></p></td>
                <td><p class="box-heading"><a href="#tours-tables" class="tour-links maroon-color">BUDDIES</a></p></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="my-tables">
          <div class="imp-packs">
            <section id="tours-tables">
              {% for tour in current_imp_tours %}
              <h3 class="imp-heading">{{tour.imp_tour_name}}</h3>
              <hr>
              <!-- {{tour.imp_tour_name}} table -->
              <table class="table table-striped table-light table-responsive">
                <thead>
                  <tr>
                    <th scope="col">Destination</th>
                    <th scope="col">Starting @</th>
                    <th scope="col">Details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <span class="font-weight blue-color">{{tour.imp_tour_name}} -</span> <br>
                      {{tour.destinations}}
                    </td>
                    <td class="font-weight">{{tour.starting_at}} per person</td>
                    <td><a href="{% url 'current_package_details' tour.id %}">Click for more
                      details</a></td>
                    </tr>
                  </tbody>
                </table>
                {% endfor %}
            </section>
            
          </div>
          <div class="aside-tables">
            <a style="text-decoration: none;" href="{% url 'educational_tours' %}">
              <div class="box-2">
                <p class="box-heading">Educational Tours</p>
              </div>
            </a>
            <a style="text-decoration: none;" href="{% url 'tour_details' 'Adventure Tour' %}">
              <div class="box-2 box-bg-darkgreen">
                <p class="box-heading">Adventure Camp</p>
              </div>
            </a>
            <a style="text-decoration: none;" href="{% url 'tour_details' 'pilgrimage' %}">
              <div class="box-2 box-bg-red-orange">
                <p class="box-heading">Pilgrimage</p>
              </div>
            </a>
          </div>
        </div>
        <!-- end of imp packs -->
        <hr>
        <p class="venture-description blue-color">Welcome to the Venture World to enjoy great getaways. Whilst assuring you the
          lifetime holiday experience & take you
          to
          places dreams are made of. We aim to provide you a complete holiday package.
        
          Discover nature’s hidden treasure with venture world in the high picturesque and majestic mountains, the snow covered
          glaciers, the golden deserts and the awe inspiring sand dunes, get a closer look at the flora and fauna in their
          natural
          environment and enjoy natures bounty. Relax and enjoy the water sports at the sun kissed beaches. Widen your horizons
          by
          visiting historical monuments and places and rediscover the varied rich culture, tradition, eternal costumes and
          vibrant
          colors spread all over the world.</p>
    </div>
    <footer>
      <div class="footer-details">
        <div class="copyright">
          <span>Copyright <span class="current-year">2012</span> | Venture World Tours & Travels.</span>
        </div>
        <div class="dev-details">
          <span class="dev">Developed by - Mayuresh Ovhal</span><br>
          <span class="dev">mayureshovhal16@gmail.com</span>
        </div>
      </div>
    </footer>
    {% endblock %}
  </body>
  <script></script>
</html>
