<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ package_type }}</title>
</head>
<body>
    {% block content %}
        <header>
            <nav class="navbar">
                <div class="nav-contents">
                    <div style="text-align: center;" class="site-logo">
                        <h1 class="venture-logo">VENTURE WORLD</h1>
                        <h6 class="venture-logo-desc">Tour, Trek, Picnic, Pilgrimage</h6>
                    </div>
                    <div class="site-navigations">
                        <ul class="ul">
                            <li class="ul-background">
                                <a class="nav-link darkblue-color" aria-current="page" href="{% url 'index' %}">Home</a>
                            </li>
                            <li class="ul-background">
                                <a class="nav-link darkblue-color" href="{% url 'tours' %}">Tours</a>
                            </li>
                            <li class="ul-background">
                                <a class="nav-link darkblue-color" href="{% url 'services' %}">Services</a>
                            </li>
                            <li class="ul-background">
                                <a class="nav-link darkblue-color" href="{% url 'contact-us' %}">Contact Us</a>
                            </li>
                            <li class="ul-background">
                                <a class="nav-link darkblue-color" href="{% url 'terms' %}">Terms</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <h1>Karnataka</h1>
    {% endblock %}
</body>
</html>