{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tour Details</title>
  </head>
  <body>
    {% block content %}
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Venture World</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="{% url 'index' %}"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'tours' %}">Tours</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'services' %}">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact-us' %}">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'terms' %}">Terms</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <h5>{{ package_type }}</h5>
      <hr />
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">Package</th>
            <th scope="col">Destinations</th>
            <th scope="col">Duration</th>
            <th scope="col">Rate Per Person</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          {% for package in tour_package %}
          <tr>
            <td>{{ package.package_name }}</td>
            <td>
              {{ package.destination_1 }} ({{ package.destination_1_nights }}N)
              <br />
              {% if package.destination_2 != 'False' %} 
              {{ package.destination_2}} 
              ({{ package.destination_2_nights }}N) 
              {% endif %}
            </td>
            <td>
              {{ package.days }} - Days <br />
              {{ package.nights }} - Nights
            </td>
            <td>Starts From - ₹{{ package.starts_from }}</td>
            <td>
              <a href="{% url 'individual_package_detail' package.id %}"
                >Click for more details</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endblock content %}
  </body>
</html>
