{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tours</title>
</head>
<body>
    {% block content %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Venture World</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'tours' %}">Tours</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'services' %}">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact-us' %}">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'terms' %}">Terms</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="tours">
            <h3>Tours</h3>
            {% for pack_type in packageTypes %}
            <a class="tour-links" href="#{{ pack_type }}"><span class="tour-package-names">{{ pack_type }}</span></a>
            {% endfor %}
            <hr>
            {% for tour_type in packageTypes %}
            <section id="{{ tour_type }}">
                <div class="venture-info">
                    <div class="tour-img">
                        <img class="tour-img-bordered" src="{{ tour_type.image.url }}" alt="err">
                    </div>
                    <div class="tour-info">
                        <h3>{{ tour_type.package_type }}</h3>
                        <hr>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus officia exercitationem quisquam natus ipsum
                            autem, et maxime nam est nesciunt necessitatibus aut quam id omnis molestiae suscipit vel illum labore.</p>
                        {% for package in packages %}
                        {% if package.package_type == tour_type %}
                        <span class="match-width package-name">{{ package.package_name }}</span>
                        {% endif %}
                        {% endfor %}
                        <br>
                        <button class="btn btn-info"><a href="{% url 'tour_details' tour_type.package_type %}">Click to know
                                more</a></button>
                    </div>
                </div>
                <table class="table table-striped table-dark tours-table">
                    <thead>
                        <tr>
                            <th scope="col">Package</th>
                            <th scope="col">Destinations</th>
                            <th scope="col">Duration</th>
                            <th scope="col">Rate Per Person</th>
                            <th scope="col">Details</th>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                        {% for pack in packages %}
                        {% if pack.package_type == tour_type %}
                        <tr id="table-row">
                            <td>{{ pack.package_name }}</td>
                            <td>{{ pack.destination_1 }} ({{ pack.destination_1_nights }}N) <br>
                                {% if pack.destination_2 != 'False' %}
                                {{ pack.destination_2 }} ({{ pack.destination_2_nights }}N)
                                {% endif %}
                            </td>
                            <td>{{ pack.days }} - Days <br>
                                {{ pack.nights }} - Nights
                            </td>
                            <td>Starts From - ₹{{ pack.starts_from }}</td>
                            <td><a href="{% url 'individual_package_detail' pack.id %}">Click for more details</a></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                <br>
                <hr>
            </section>
            {% endfor %}
        </div>
    </div>
    <footer>
        <div class="footer-details">
            <div class="copyright">
                <span>Copyright 2012 | Venture World Tours & Travels.</span>
            </div>
            <div class="dev-details">
                <span class="dev">Developed by - Mayuresh Ovhal</span><br>
                <span class="dev">mayureshovhal16@gmail.com</span>
            </div>
        </div>
    </footer>
    {% endblock content %}
</body>
</html>